<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Welcome to the attendance system</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}"/>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <a class="logo" href="{{url_for('homepage')}}">Attendance System</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="{{ url_for('homepage') }}" class="active">Home</a></li>
        <li><a href="{{ url_for('signup') }}">Signup</a></li>
        <li><a href="{{ url_for('admin') }}">Admin Signup</a></li>
        <li><a href="{{ url_for('calendar') }}">Calendar</a></li>

        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% if session['admin'] is defined %}
        <li><a href="{{ url_for('showcam') }}">Camera</a></li>
        {% endif %}
        {% if session['admin'] is defined or session['student'] is defined %}
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% endif %}

    </ul>
</nav>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <p>An Attendance system using Facial recognition <br/>

    </div>
    <video autoplay loop muted playsinline src="{{url_for('static',filename='images/banner.mp4')}}"></video>
</section>

<!-- Highlights -->
<section class="wrapper">
    <div class="inner">

        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <a href="{{ url_for('signup') }}" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                        <h3>Sign up </h3>
                    </header>
                    <p>Useful for new users to sign up</p>
                    <br>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="{{ url_for('login') }}" class="icon fa-files-o"><span class="label">Icon</span></a>
                        <h3>Login</h3>
                    </header>
                    <p>Login for existing users</p>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <a href="{{ url_for('admin') }}" class="icon fa-floppy-o"> <span class="label"> Icon</span></a>

                        <h3>Admin Login</h3>
                    </header>
                    <p>Login portal For Administrators</p>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <a href="{{ url_for('calendar') }}" class="icon fa-qrcode"><span class="label">Icon</span></a>
                        <h3>Calendar</h3>
                    </header>
                    <p>Click here to view Calendar</p>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper">
    <div class="inner">
        <h2>Done for the Valley Bootcamp internship project</h2>
        <p>This project was done as an internship project for The Valley Bootcamp</p>
    </div>
</section>


<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h4>Credits</h4>
                <ul class="alt">
                    <li>Adithya S H : 1RN15CS011</a></li>
                    <li>Ankush Chavan : 1RN15CS020</a></li>
                    <li>Karthik D : 1RN15CS049</a></li>
                    <li>Bhargav A K : 1RN15CS034</a></li>
                    <li>Kishore Kumar P : 1RN15CS051</a></li>
                </ul>
            </section>

        </div>

    </div>
</footer>

<!-- Scripts -->
<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/browser.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/breakpoints.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>
</html>